#navbar-header {

	background-color: rgb(53, 118, 139);
}

#publisher {
	width: 100% !important;
	height: 20em !important;
} 

#publisher video{
	width: 100% !important;
}


#subscribers {
	width: 100% !important;
	height: 20em !important;
} 

#subscribers video{
	width: 100% !important;
}

.OT_subscriber {

	width: 100% !important;
}

#mask{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	opacity: 0.2;
    filter: alpha(opacity=20); /* IE */
    left: 50%;
	top: 120px;
	margin-left: -135px;
}

#mask img{
	width: 24%;
	height: 430px;

}

#hat{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
    left: 50%;
	top: 40px;
	margin-left: -192px;
}

#hat img{
	width: 27%;
	height: 250px;

}

#header-web-logo{
  padding-top: 14px;
  padding-right: 20px;
}

#header-web-logo img{
  height: 25px;
}

.navbar-nav>li>a{
	color: white !important;
}
.navbar-nav>li>a:hover{
	color: gray !important;
}
.navbar-right{
	  padding-top: 15px;
  font-weight: 600;
  color: white;
}