#publisher {
	width: 100% !important;
	height: 40% !important;
} 

#publisher video{
	width: 100% !important;
}


#subscribers {
	width: 100% !important;
	height: 40% !important;
} 

#subscribers video{
	width: 100% !important;
}

.OT_subscriber {

	width: 100% !important;
}